<%- include('partials/header') %>

<div id="body">
    <header>
        <div>
            <input id="search" type="text" placeholder="searrch" onkeyup="search()" name="super">
    
            <ul id="list">
                <li></li>
            </ul>
        </div>
    </header>
    <!-- super hero image rendering -->
    <div id="superhero_dis" class="border" >
       <img class="superhero_image" id="superhero_image">
       <h2 ><a id="superhero_name" title="Click to see full bio" target="_blank" ></a></h2>
       <button id="add_to_fav">Add to fav</button>
    </div>
</div>
<div id="fav_list" class="border">
    <h1>favorite superheroes</h1>
    <ul id="fav_super">

    </ul>
</div>
<div>
   
   <h1> <%= batman.name %> </h1>
    <img src="<%= url %>" alt="" srcset="">
</div>


<%- include('partials/footer') %>